.char {

    z-index: 1;
    position: relative;
    
    flex-shrink: 0;
    width: 100%;
    height: 0;
    padding-top: 62.5%;
    text-align: left; // Affects ::before, after, not sure why
    
    // Wraps around character and shadow
    &__wrap {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        bottom: 0;
        transition: 3s cubic-bezier(1, 0.6, 0.22, 0.93);
        transform: scale(1);

        transform-origin: center 86%; // Make bottom of every character line up
    }
    
    &__shards {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.6s 0s cubic-bezier(0.7, 0.3, 0, 1);
    }

    &__shard-wrap {
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: inherit;

        // Hide 'peripheral' and 'animation' when animation is inactive 
        &--peripheral, 
        &--animation {
            display: none;

        }
        &--peripheral {
            z-index: 2;
        }
    
        &--animation {
            z-index: 1;
        }
    }

    &__shard {
        z-index: 4;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%);
        transition: 1s cubic-bezier(0.7, 0.3, 0, 1);
    }

    // Shadow
    &__shadow {
        z-index: 1;
        position: absolute;
        left: 25%;
        bottom: 8%;
        width: 50%;
        height: 10%;

        background: radial-gradient(
            closest-side,
            rgba(0, 0, 0, 0.35) 0,
            rgba(0, 0, 0, 0.15) 40%,
            transparent 80%
            );
        transition: inherit;
        opacity: 0;
    
        &::before,
        &::after {
            content: '';
            z-index: inherit;
            position: inherit;
            left: 25%;
            bottom: 10%;
            height: 10%;
            width: 50%;

            background: inherit;
            transition: inherit;
            opacity: inherit;
        }
    }  
}

$curve: .7,.3,0,1;

// Loop affecting transition between characters, from current char to next 
.char__wrap.to-right {
    @for $i from 1 through 66 {

        $s: ($i*0.02+0.2s);
        $t: ($i*0.02s+0.21s);
        $ct: ($i*0.025s);

        .char__shard-wrap:nth-child(#{$i}) .char__shard {
            transition: 
                clip-path $s $t cubic-bezier($curve), 
                background-color $s $ct;
        }
    }
}

// Loop affecting transition between characters, from current char to previous

.char__wrap.to-left {
    @for $i from 1 through 66 {

        $s: ((67-$i)*0.02+0.2s);
        $t: ((67-$i)*0.02s+0.21s);
        $ct: ((67-$i)*0.025s);

        .char__shard-wrap:nth-child(#{$i}) .char__shard {
            transition: 
                clip-path $s $t cubic-bezier($curve), 
                background-color $s $ct;
        }
    }
}