:root {

// Character sizing to scale
--char-sz-yoda: .6; // Yoda
--char-sz-r2d2: .7; // R2D2

// Colors
--clr-bg: #cdbc9f; // Background

--clr-yellow-primary: #ffe81f; // Yellow, primary
--clr-yellow-dark: #ccb918; // Yellow, darker

}